<div class='adminusers-container'>
    <div class='adminusers-body'>
    <div class='header'>
        <i class='fa fa-square'></i> &nbsp;
        <h1>
            <%= @buyer.email.split('@', -1)[0].upcase%>'S PAGE
        </h1>

    </div>
        <div class='tables'>
            <div class='brokers-table'>
                <table class="table mt-3">
                    <thead class="thead-dark">
                        <tr>
                        <th>Buyer ID</th>
                        <th>Buyer Email</th>
                        <th>Buyer Created At</th>
                        <th>Number of Stocks Bought</th>
                        <th>Action</th>
                        </tr>
                    </thead>
        <tbody class="text-white" style="font-size: 16px;">
        <tr>
        <td><%= @buyer.id %></td>
        <td><%= @buyer.email %></td>
        <td><%= @buyer.created_at %></td>
        <td><%= @buyer.stocks.count %></td>
        <td><%= link_to 'Edit Buyer', edit_buyer_path(@buyer), method: :get, class: "btn btn-dark" %></td>
        </tr>
    </tbody>
</table>

<%= link_to "Back to Users", admin_users_path%>